body {
  margin: 0;
}

.page{
max-width: 100vw;
background-color: black;
margin: 0 auto;
align-content: center;
color: white;
font-family: "Inter" Arial, Helvetica, sans-serif;
}
.content{
 max-width: 880px;
 margin: 0 auto;
}

/* === MEDIA QUERIES === */
@media screen and (max-width: 320px){
    body{
    margin: 0;
    }
    
    .page{
    width: 100vw;
    align-content: center;
    }

}