body {
  margin: 0;
}

.page{
max-width: 100vw;
background-color: #6b7888;
  background:
    linear-gradient(
      rgba(30, 35, 41, 0.85),
      rgba(30, 35, 41, 0.85)
    ),

 url(../Images/pattrn.png);
background-position: center;
background-repeat: repeat;
margin: 0 auto;
align-content: center;
color: white;
font-family: "Inter" Arial, Helvetica, sans-serif;
}
.content{
 max-width: 880px;
 margin: 0 auto;
}

/* === MEDIA QUERIES === */
@media screen and (max-width: 320px){
    body{
    margin: 0;
    }
    
    .page{
    width: 100vw;
    align-content: center;
    }

}