/* ==POPUP== */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    display: none;
}
.popup_opened{
    display: flex;
}

.popup__container{
    position: relative;
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 35px 0 35px;
  
  
}
.popup__close{
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 35px;
    height: 35px;
    position: absolute;
    top: -40px;
    right: -40px;
}
.popup__text{
    color: black;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 24px;
}
.popup__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.popup__input {
    width: 100%;
    padding: 12px;
    border: 2px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}
.popup__textarea{
    width: 100%;
    padding: 12px;
    border: 2px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}
.popup__submit{
    border: none;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    cursor: pointer;
    width: 100%;
    height: 50px;
    border-radius: 2px;
    border: 2px;

}

/* === MEDIA QUERIES === */
@media screen and (max-width: 320px){
    .popup__container{
       width: 70%;
    }
       
    
    .popup__close{
    position: absolute;
    top: -40px;
    right: 15px;
    }
    .popup__text{
     font-size: 18px;
     margin-top: 50px;
    }
}