.profile {
 display: grid;
    grid-template-columns: 120px 1fr 1fr 1fr;
    grid-template-rows: repeat(1, 1fr);
 
 
 padding-bottom: 2em;
 align-items: center;
 gap: 2em;
 
}
.profile__pic{
    grid-column-start: 1;
    border-radius: 150px;
    width: 120px;
    align-items: center;

}
.profile__name{
 grid-column-start: 2;
 grid-row-start: 1;
 display: flex;
 flex-direction: row;
 text-overflow: ellipsis;
white-space: nowrap;
  overflow: hidden;
 
}
.profile__info {
    width: 415px;
    margin: 0;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
}
.profile__sub{
    grid-column-start: 2;
    grid-row-start: 1;
    width: 415px;
    margin-top: 100px;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.profile__edit-button{
    width: 24px;
    height: 24px;
    cursor: pointer;
   flex-shrink: 0;
   position: relative;
   top: 15px;
   right: 130px;


}
.profile__add-button{
    grid-column-start: 4;
    width: 150px;
    justify-self: end;
}

/* === MEDIA QUERIES === */
@media screen and (max-width: 320px){
     .profile {
     margin: 0 auto;
     width: 90vw;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding-top: 2em;
     text-align: center;
     
    }
    .profile__name{
        display: flex;
        flex-direction: row;
        padding-bottom: 20px;
        
    }
    .profile__info {
        
     max-width: 80vw;
     font-size: 1.5rem;
     font-weight: 500;
     line-height: 100%;
     text-align: center;
    }
    .profile__sub{
        width: 250px;
        margin: 0;
        white-space: normal;

        text-overflow: unset;
        overflow: visible;

        
       
    }
    .profile__edit-button{
        position: relative;
        right: 130px;
        top: 30px;
        padding-top: 10px;
    }
    .profile__add-button{
       margin: 0;

    }
}